:root {
  --main-color: #383f4f;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}
header {
  color: white;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: var(--main-color);
  border-bottom: 2px solid white;
}
header h1 {
  margin: 0;
  padding: 2px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover-img--container {
  max-width: 800px;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.cover-img--container img {
  width: 100%;
}
.cover-description {
  font-size: 0.7rem;
  opacity: 0.7;
}
#dob {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 2px 1px 2px black;
  right: 0;
  padding: 1rem;
  margin: 0;
}

.quote {
  font-family: 'Indie Flower', cursive;
  color: white;
  max-width: 400px;
  background-color: var(--main-color);
  text-align: center;
  border-radius: 1rem;
  margin: auto;
}
.author {
  color: wheat;
}
.about,
#biography,
#research,
#date {
  max-width: 800px;
  width: 95vw;
  margin: 0 auto 2rem auto;
}

summary {
  padding: 1rem;
  background: var(--main-color);
  color: wheat;
}
.summary-content {
  border: 2px solid var(--main-color);
  padding: 1rem;
}
.wiki {
  background-color: #a1a4ae;
  color: white;
}
.wiki a {
  color: wheat;
  text-decoration: none;
  border: 2px solid red;
  border-radius: 5px;
  padding: 2px;
  letter-spacing: 2px;
  line-height: 2;
}
.wiki a:hover {
  background-color: red;
}
#research {
  background: #96a2be30;
  border-radius: 5px;
  padding: 0.5rem;
}
#research h2 {
  text-align: center;
  border-bottom: 2px solid var(--main-color);
  padding: 1rem 0;
}
#research ul {
  padding: 0;
}
#research ul li {
  list-style: none;
  border-left: 4px solid var(--main-color);
  margin-bottom: 1rem;
  padding: 0 1rem;
}
#research ul li h3 {
  color: var(--main-color);
  text-shadow: 1px 1px 1px white;
}
.highlighted{
    color:red;
    font-weight: 900;
}
#books {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.book {
  max-width: 300px;
  max-height: 400px;
  margin: auto;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #2d3037;
  overflow: hidden;
}
.book img {
  width: 100%;
  height: 100%;
}
footer {
    background-color: #2d3037;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 2rem;
  }
footer span{
    display: block;
}  
@media screen and (min-width: 800px) {
  #books {
    max-width: 80vw;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .book {
    flex: 1 1 0px;
    margin: 0;
  }
}
